<% content_for :title do %>Radiator View<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="unresponsive" data-view="Number" data-title="Unresponsive" data-moreinfo="Nodes" style="background-color:#808080"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="failed" data-view="Number" data-title="Failed" data-moreinfo="Nodes" style="background-color:#ff0000"></div> 
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="noop" data-view="Number" data-title="No-op" data-moreinfo="Nodes" style="background-color:#FF8000"></div> 
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="changed" data-view="Number" data-title="Changed" data-moreinfo="Nodes" style="background-color:#0000ff"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unchanged" data-view="Number" data-title="Unchanged" data-moreinfo="Nodes" style="background-color:#00ff00"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unreported" data-view="Number" data-title="Unreported" data-moreinfo="Nodes" style="background-color:#808080"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="total" data-view="Number" data-title="total" data-moreinfo="Nodes" style="background-color:#A8A8A8"></div>
    </li>
  </ul>
</div>
